from behave import *
from local_settings import authInformation


@when(u'we authenticate')
def step_impl(browser):
    authenticate(browser)

def authenticate(browser):
    # the logic for making authenticated testing work goes here
    # get information from local_settings.authInformation
    authInfo = authInformation()
    pass
